@tailwind base;

@tailwind components;

/* Masonry styles: https://w3bits.com/css-masonry/ */
.rolodex {
  column-count: 1;
  column-gap: 1em;
}

@screen md {
  .rolodex {
    column-count: 2;
    column-gap: 1em;
  }
}

@screen lg {
  .rolodex {
    column-count: 3;
    column-gap: 1em;
  }
}

.rolodex .card {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

/* Cards */
.card {
  @apply font-serif bg-gray-100 text-gray-800 text-xl shadow rounded-sm flex flex-col;
  max-height: 80%;
}

.card header {
  @apply text-3xl py-2 px-4;
}

.card article {
  @apply px-4 pt-0;
}

.card article h1 {
  @apply text-3xl;
}

.card article h2 {
  @apply text-2xl;
}

.card article h3 {
  @apply text-xl;
}

.card article h4 {
  @apply text-lg;
}

.card article h5 {
  @apply text-sm;
}

.card article h6 {
  @apply text-xs;
}

.card article p {
  @apply mb-2;
}

.card article ul {
  @apply list-disc ml-8 mb-2;
}

.card article ol {
  @apply list-decimal ml-8 mb-2;
}

.card article pre {
  @apply mb-2 p-2 pl-4 border rounded;
}

.card article blockquote {
  @apply ml-2 pl-4 border-l-8 border-gray-300 text-gray-600;
}

.card footer {
  @apply text-base py-2 px-4 text-gray-700 bg-gray-200;
}

.rotate-260 {
  transform: rotate(260deg);
}

@tailwind utilities;
