  @tailwind base;

@tailwind components;

/* Masonry styles: https://w3bits.com/css-masonry/ */
.rolodex {
  column-count: 1;
  column-gap: 1em;
}

@screen md {
  .rolodex {
    column-count: 2;
    column-gap: 1em;
  }
}

@screen lg {
  .rolodex {
    column-count: 3;
    column-gap: 1em;
  }
}

.rolodex .card {
  display: inline-block;
  margin: 0 0 1em;
  width: 100%;
}

/* Cards */
.card {
  @apply font-serif bg-gray-100 text-gray-800 text-xl shadow rounded-sm;
}

.card header {
  @apply text-3xl py-2 px-3;
}

.card article {
  @apply px-3  pb-3 pt-0;
}

.card footer {
  @apply text-base p-2 text-gray-700 bg-gray-200;
}

@tailwind utilities;
